* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-vitual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.headline {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.service1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.service2 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.service3 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.service4 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}
